APP_NAME=Personal Execution OS API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=peo_db
POSTGRES_USER=peo_user
POSTGRES_PASSWORD=peo_password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

DATABASE_URL=postgresql+psycopg://peo_user:peo_password@localhost:5432/peo_db
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

SECRET_KEY=change_this_to_a_long_random_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=60

DEFAULT_TIMEZONE=America/New_York